*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,sans-serif;
    color:#333;
    line-height:1.6;
}

html{
    scroll-behavior:smooth;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0f172a;
    color:white;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    background:linear-gradient(
        135deg,
        #2563eb,
        #1e293b
    );

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:4rem;
}

.hero p{
    margin-top:15px;
    max-width:700px;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:white;
    color:#2563eb;
    padding:12px 25px;
    border-radius:5px;
    text-decoration:none;
    font-weight:bold;
}

.section{
    padding:100px 10%;
    text-align:center;
}

.cards{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:
    0 5px 15px rgba(0,0,0,.1);
}

.about{
    background:#f8fafc;
}

form{
    max-width:600px;
    margin:auto;
}

input,
textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 25px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#1d4ed8;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}

.menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
}

#successMessage{
    color:green;
    margin-top:20px;
}

@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{
        display:none;
        position:absolute;
        top:70px;
        right:0;
        width:100%;
        flex-direction:column;
        background:#0f172a;
        text-align:center;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        margin:15px 0;
    }

    .hero h1{
        font-size:2.5rem;
    }
}